.datedEntry {
	display: inline-block;
}

.datedEntryName {
	float: left;
	text-align: left;
	clear: left;

	width: 50%;

	font-weight: bold;
	font-size: 1.5em;
}

.datedEntryDate {
	float: right;
	text-align: right;
	clear: right;

	width: 50%;
}

.datedEntrySubtitle {
	float: left;
	text-align: left;
	clear: left;

	width: 100%;
}

.datedEntryChildren {
	width: 100%;
}
