.Sidebar {
	right: 10px;
	position: fixed;

	width: 225px;
	height: calc(100% - 40px);

	border: 2px solid black;
	border-radius: 12px;

	margin: 10px;
}

#hunt {
	width: 100%;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

h1 {
	font-size: 2.5em;
	font-family: "Tomorrow", sans-serif;

	border-bottom: 1px solid black;

	margin: 5px;
}

.social {
	display: flex;
	justify-content: space-evenly;

	margin: 5px;
	margin-top: 15px;
}

.social img {
	width: 30px;
	height: 30px;
}
